<div id="sobre" class="box-sobre">
  <h1 class="titulo-sobre">Sobre</h1>
  <p class="descricao">
    Depois de passar 8 anos trabalhando na área adminsitrativa, resolvi fazer a
    transição da minha carreira para a área de TI. Comecei fazendo cursos na
    área de desenvolvimento de software e atualmente venho atuando nela, alem de
    está me especializando em Análise de Dados e Business Intelligence. Sou um
    profissional preparado para o mercado de trabalho, entusiasmado por novos
    desafios e novos conhecimentos. Eu acredito que, temos sempre que nos
    superar profissionalmente e sempre está se atualizando. Temos também que
    está sempre motivados, comprar a ideia da empresa, ter a visão de
    empreendedor, buscar e contribuir sempre para o crescimento qualitativo e
    quantitativo da empresa e de si próprio. Para saber mais sobre minha
    formação e cursos realizados, clique nos links 
    <a (click)="modal.formacao()" class="formacao">Formação acadêmica</a> e 
    <a (click)="modal.cursos()" class="cursos">Cursos</a>.
  </p>
</div>

<app-modal #modal></app-modal>
