<div class="header">
  <p>PORTFÓLIO PROFISSIONAL</p>
  <div class="icon-svg">
    <div class="icon-menu">
      <!-- hamburguer -->
      <svg id="icon-hamburger" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" >
        <path
          d="M2.5 15H17.5V13.3333H2.5V15ZM2.5 10.8333H17.5V9.16667H2.5V10.8333ZM2.5 5V6.66667H17.5V5H2.5Z"
          fill="#002855"
        />
      </svg>
      <!-- CLOSE -->
      <svg id="icon-close" class="icon-none" viewBox="0 0 20 20" fill="none"  xmlns="http://www.w3.org/2000/svg"  >
        <path
          d="M20 2.01429L17.9857 0L10 7.98571L2.01429 0L0 2.01429L7.98571 10L0 17.9857L2.01429 20L10 12.0143L17.9857 20L20 17.9857L12.0143 10L20 2.01429Z"
          fill="#002855"
        />
      </svg>
    </div>
  </div>
</div>

<div  class="menu-mobile">
  <li><a href="#sobre" class="ancoras">Sobre</a></li>
  <li><a href="#experiencias" class="ancoras">Experiências</a></li>
  <li><a href="#habilidades" class="ancoras">Habilidades</a></li>
  <li><a href="#contatos" class="ancoras">Contatos</a></li>
</div>
