@import '../app.component.scss';

.box-contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 60rem;
  padding: 4rem 3rem;
  background-color: $color-bgcinza;

  .titulo {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.6rem;
    color: $color-texto;
    margin: 0;
  }

  .lista-contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 1rem;
    width: 100%;

    .contato {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin-bottom: 3rem;

      .logo {
        margin-left: 5rem;
        width: 5rem;
        height: 5rem;
      }

      .texto-contato {
        margin: 0 1rem;
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.8rem;
        text-decoration-line: underline;
        color: $color-texto;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }

  @include fromMediumLarge {
    padding: 6rem;
    height: 84rem;
    justify-content: space-evenly;

    .titulo {
      font-size: 5rem;
      line-height: 6rem;
    }

    .lista-contatos {
      padding: 8rem 0 0;

      .contato {
        margin-bottom: 5rem;

        .logo {
          margin-left: 35rem;
          width: 7rem;
          height: 7rem;
        }

        .texto-contato {
          font-size: 2.5rem;
          line-height: 3rem;
          margin: 0 5rem;
        }
      }
    }
  }
}
