@import '../app.component.scss';

.box-experiencias {
  background-color: $color-bgcinza;
  padding: 4rem 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .titulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $color-texto;
    margin-bottom: 3rem;
  }

  .experiencias-flex {
    display: flex;
    align-items: center;

    #seta-esq,
    #seta-dir {
      display: none;
    }

    .lista-empresas {
      display: flex;
      flex-direction: row;
      overflow: auto;

      .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: 3px solid $color-bordas;
        border-radius: 1rem;
        padding: 3rem;
        margin: 0 2rem;

        .box-empresas {
          .info-empresa {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 55rem;

            .logo-empresas {
              width: 25rem;
            }

            .nome-empresa {
              font-weight: 700;
              font-size: 2.5rem;
              line-height: 2.5rem;
              display: flex;
              align-items: center;
              text-align: center;
              color: $color-texto;
              margin: 3.8rem 0;
            }

            .info-cargo {
              font-weight: 700;
              line-height: 3rem;
              display: flex;
              align-items: center;
              text-align: center;
              flex-direction: column;

              label {
                color: $color-texto;
                font-size: 2rem;
              }

              p {
                color: $color-subtexto;
                font-size: 1.8rem;
              }
            }
          }
        }

        .link-atividade {
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 2.5rem;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          text-decoration-line: underline;
          margin-top: 3rem;
        }

        .atividades-mobile {
          display: none;
          font-weight: 700;
          line-height: 3rem;
          align-items: center;
          text-align: center;
          flex-direction: column;

          h2 {
            color: $color-texto;
            font-size: 2rem;
          }

          p {
            color: $color-subtexto;
            font-size: 1.8rem;
          }
        }

        .atividades-desktop {
          display: none;
        }
      }
    }

  }

  @include fromMediumLarge {
    padding: 6rem;
    height: 84rem;

    .titulo {
      font-size: 5rem;
      line-height: 6rem;
      margin-bottom: 6rem;
    }

    .experiencias-flex {

      #seta-esq {
        display: block;
        width: 3rem;

        &:hover{
          width: 4rem;
        }
      }

      #seta-dir {
        display: block;
        width: 3rem;

        &:hover{
          width: 4rem;
        }
      }

      .lista-empresas {
        width: 100%;
        overflow: hidden;

        .cards {
          flex-direction: row;
          padding: 0;
          margin: 0 0 0 8rem;

          .box-empresas {
            width: 32rem;
            padding: 0 2rem;

            .info-empresa {
              justify-content: center;
            }
          }

          .link-atividade {
            display: none;
          }

          .atividades-desktop {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 71rem;
            padding: 0 3rem 0 0;

            h2 {
              color: $color-texto;
              font-size: 2.5rem;
              font-weight: 700;
              line-height: 3rem;
              margin-bottom: 2rem;
            }

            p {
              color: $color-subtexto;
              font-weight: 500;
              font-size: 1.8rem;
              line-height: 3.5rem;
              margin: 0;
              text-align: justify;
            }
          }
        }
      }
    }
  }
}

#cards-carrousel {
  display: flex;
  position: relative;
}

