   // Variável de cores
  $color-bgcinza: #EBEDF6;
  $color-bordas: #C7C9C7;
  $color-texto: #002855;
  $color-subtexto: #666666;
  $color-fundo-modal: rgba(0, 0, 0, 0.25);
  
  /* BREAKPOINTS */
  $bp-medium: 768px;
  $bp-medium-large: 992px;
  $bp-4K: 1900px;
  
  @mixin fromMedium {
    @media only screen and (min-width: $bp-medium) {
      @content;
    }
  }
  
  @mixin fromMediumLarge {
    @media only screen and (min-width: $bp-medium-large) {
      @content;
    }
  }
  
  @mixin from4K {
    @media only screen and (min-width: $bp-4K) {
      @content;
    }
  }
  
  