@import '../app.component.scss';

.home {
  font-family: 'Roboto';
  font-style: normal;
  background-color: $color-bgcinza;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50rem;

  .img-jr {
    width: 23rem;
    height: 24rem;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-sizing: border-box;
    margin-bottom: 2.5rem;
  }

  .nome {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    color: $color-texto;
  }

  .funcao,
  .estado {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: $color-subtexto;
  }

  @include fromMediumLarge {
    padding: 0;
    height: 70rem;
    justify-content: center;

    .img-jr {
      width: 34rem;
      height: 35rem;
      ;
    }

    .nome {
      font-size: 5rem;
      line-height: 6rem;
    }

    .funcao,
    .estado {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
}
